/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    background: #eee;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.modal {
    align-items: center;
}

.table-image {

    td,
    th {
        vertical-align: middle;
    }
}

.input-group {
    align-items: center;
}

.navbar {
    background: #fff;
    padding-left: 16px;
    margin-top: -20px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}


.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}

@media (max-width: 1200px) {
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }

    .input-group {
        width: 100%;
    }
}