/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.container {
    padding-top: 140px;
    padding-right: 211px;
    margin-left: 198px;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.modal {
    align-items: center;
}

.table-image {

    td,
    th {
        vertical-align: middle;
    }
}

.input-group {
    align-items: center;
}

body {
    margin-top: 20px;
    background: #eee;
}

.navbar {
    background: #fff;
    padding-left: 16px;
    margin-top: -20px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}

.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}
